In [101]:
import numpy as np
import pandas as pd

In [102]:
data = pd.Series([1,2,3,4,5])
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [103]:
data.values

array([1, 2, 3, 4, 5])

In [104]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [105]:
data[0]

1

In [106]:
data = pd.Series([1,2,3,4,5] ,index=['a','b','c','d','e'])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [107]:
data.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [108]:
data[0]

1

In [109]:
data[1:3]

b    2
c    3
dtype: int64

In [110]:
data['c']

3

In [111]:
data = pd.Series(dict(a=1, b=2, c=3, d=4, e=5))
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [112]:
data['b':'d']

b    2
c    3
d    4
dtype: int64

In [113]:
d1 = pd.Series(dict(a=1, b=2, c=3, d=4, e=5))
d2 = pd.Series(dict(a=11, b=12, c=13, d=14, e=15))
df = pd.DataFrame({'column_1':d1, 'column_2':d2})
df

   column_1  column_2
a         1        11
b         2        12
c         3        13
d         4        14
e         5        15

In [114]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [115]:
df.columns

Index(['column_1', 'column_2'], dtype='object')

In [116]:
df['column_1']

a    1
b    2
c    3
d    4
e    5
Name: column_1, dtype: int64

In [117]:
df['column_1']['a']

1

In [118]:
df['column_2']['c']

13

In [119]:
df2 = pd.DataFrame([[1,2],[11,12],[21,22]], index=['a','b','c'], columns=['col_1','col_2'])
df2

   col_1  col_2
a      1      2
b     11     12
c     21     22

In [120]:
df3 = pd.DataFrame([[1,2,3],[11,12,13]], index=['a','b'], columns=['col_1','col_2', 'col_3'])
df3

   col_1  col_2  col_3
a      1      2      3
b     11     12     13

In [121]:
df.at['a','column_1']

1

In [122]:
df.at['a','column_1'] = 100
df

   column_1  column_2
a       100        11
b         2        12
c         3        13
d         4        14
e         5        15

In [123]:
df.iat[2,0]

3

In [124]:
df.iat[3,1] = 1000
df

   column_1  column_2
a       100        11
b         2        12
c         3        13
d         4      1000
e         5        15

In [125]:
df.loc['b':'d', 'column_1']

b    2
c    3
d    4
Name: column_1, dtype: int64

In [126]:
df.loc['d':'e', 'column_1':'column_2'] = [[0.1, 0.2], [0.3, 0.4]]
df

   column_1  column_2
a     100.0      11.0
b       2.0      12.0
c       3.0      13.0
d       0.1       0.2
e       0.3       0.4

In [127]:
df.iloc[[1,3], [0, 1]]

   column_1  column_2
b       2.0      12.0
d       0.1       0.2

In [145]:
df.iloc[[2,4],[0,1]] = [[1001,1002],[1003,1004]]
df

   column_1  column_2
a       3.2       1.4
b       2.2       6.8
c    1001.0    1002.0
d       0.1       0.2
e    1003.0    1004.0

In [146]:
df.at['a','column_1'] = 3.1
# df['column_1']['a'] = 3.1 #これでもよい
df

   column_1  column_2
a       3.1       1.4
b       2.2       6.8
c    1001.0    1002.0
d       0.1       0.2
e    1003.0    1004.0

In [147]:
df.at['a','column_2'] = 1.4
df

   column_1  column_2
a       3.1       1.4
b       2.2       6.8
c    1001.0    1002.0
d       0.1       0.2
e    1003.0    1004.0

In [148]:
df.iat[0,1] = 1.4
df

   column_1  column_2
a       3.1       1.4
b       2.2       6.8
c    1001.0    1002.0
d       0.1       0.2
e    1003.0    1004.0

In [153]:
df.loc['b':'b','column_1':'column_2'] = [[2.2,6.8]]
df

   column_1  column_2
a       3.1       1.4
b       2.2       6.8
c    1001.0    1002.0
d       0.1       0.2
e    1003.0    1004.0

In [154]:
df.to_csv('df_data.csv') 
df2.to_excel('df2_data.xlsx')
df3 = pd.read_csv('df_data.csv')
df4 = pd.read_excel('df2_data.xlsx')
df3

  Unnamed: 0  column_1  column_2
0          a       3.1       1.4
1          b       2.2       6.8
2          c    1001.0    1002.0
3          d       0.1       0.2
4          e    1003.0    1004.0

In [155]:
df4

  Unnamed: 0  col_1  col_2
0          a      1      2
1          b     11     12
2          c     21     22