In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.Series([1,2,3,4,5])
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
data.values

array([1, 2, 3, 4, 5])

In [5]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
data[0]

1

In [9]:
data = pd.Series([1,2,3,4,5] ,index=['a','b','c','d','e'])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
data.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
data[0]

1

In [14]:
data[1:3]

b    2
c    3
dtype: int64

In [18]:
data['c']

3

In [20]:
data = pd.Series(dict(a=1, b=2, c=3, d=4, e=5))
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [22]:
data['b':'d']

b    2
c    3
d    4
dtype: int64

In [30]:
d1 = pd.Series(dict(a=1, b=2, c=3, d=4, e=5))
d2 = pd.Series(dict(a=11, b=12, c=13, d=14, e=15))
df = pd.DataFrame({'column_1':d1, 'column_2':d2})
df

   column_1  column_2
a         1        11
b         2        12
c         3        13
d         4        14
e         5        15

In [31]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [33]:
df.columns

Index(['column_1', 'column_2'], dtype='object')

In [32]:
df['column_1']

a    1
b    2
c    3
d    4
e    5
Name: column_1, dtype: int64

In [34]:
df['column_1']['a']

1

In [41]:
df['column_2']['c']

   column_1  column_2
a         1        11
b         2        12
c         3       100
d         4        14
e         5        15

In [38]:
df2 = pd.DataFrame([[1,2],[11,12],[21,22]], index=['a','b','c'], columns=['col_1','col_2'])
df2

   col_1  col_2
a      1      2
b     11     12
c     21     22

In [39]:
df3 = pd.DataFrame([[1,2,3],[11,12,13]], index=['a','b'], columns=['col_1','col_2', 'col_3'])
df3

   col_1  col_2  col_3
a      1      2      3
b     11     12     13